/*
 *= require_tree .
 *= require_self
 */

$header: #E0E0E0;
$event: #1F8DD6;
$black: #777;
$time-slot-height: 25px;
$total-height: $time-slot-height * 51;
$day-width: 100px;
$name-height: 38px;

#calendar {
  width: $day-width * 8;
  border: 2px solid $black;
  display: -webkit-flex;
  display: flex;

  @for $i from 0 through 23 {
    .start-#{$i}00 {
      position: absolute;
      top: $time-slot-height * $i * 2
    }

    .start-#{$i}30 {
      position: absolute;
      top: $time-slot-height * $i * 2 + $i
    }

    .length-#{$i*30} {
      height: $time-slot-height * $i;
    }

    @for $x from 0 through 10 {
      .col-#{$x}.neighbors-#{$i} {
        width: $day-width/($i + 1);
        margin-left: ($day-width/($i + 1) * $x)
      }
    }
  }

  // how may events are in this timeslot?
  .others-0 {
    width: $day-width - 2;
  }

  .others-1 {
    width: ($day-width/2) - 2;
  }

  .others-2 {
    width: ($day-width/3) - 2;
  }

  .others-4 {
    width: ($day-width/4) - 2;
  }

  .timeslot {
    height: $time-slot-height;
  }

  .name {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: $header;
  }

  .day {
    flex: 1;
    height: $total-height;
    width: $day-width;
    border: 1px solid $black;
  }

  .day.time {
    width: 40px;
    .timeslot {
      color: lighten($black, 5);
      text-align: center;
    }
    .timeslot.odd {
      color: lighten($black, 40);
      border-top: 1px dotted lighten($black, 20);
      border-bottom: 1px solid $black;
    }
  }

  .event {
    text-align: center;
    background-color: $event;
    border: 1px solid darken($event, 5)
  }
}