/*
 *= require_tree .
 *= require_self
 */

$header: #E0E0E0;
$event: #1F8DD6;
$black: #777;
$time-slot-height: 25px;
$total-height: $time-slot-height * 51;
$day-width: 150px;
$name-height: 38px;
$white: #FDFDFD;

// HACK
$top-offset: 125px;

#calendar {
  width: $day-width * 8;
  border: 2px solid $black;
  display: -webkit-flex;
  display: flex;

  @for $i from 0 through 23 {
    .start-#{$i}00 {
      position: absolute;
      top: $time-slot-height * $i * 2 + $top-offset
    }

    .start-#{$i}30 {
      position: absolute;
      top: $time-slot-height * $i * 2 + $i + $top-offset
    }

    .length-#{$i*30} {
      height: $time-slot-height * $i;
    }

    @for $x from 0 through 10 {
      .col-#{$x}.max-col-#{$i} {
        width: $day-width/($i) - 2;
        margin-left: ($day-width/($i) * $x)
      }
    }
  }


  .timeslot {
    height: $time-slot-height;
  }

  .name {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: $header;
  }

  .day {
    flex: 1;
    height: $total-height;
    width: $day-width;
    border: 1px solid $black;
  }

  .day.time {
    width: 40px;
    .timeslot {
      color: lighten($black, 5);
      text-align: center;
    }
    .timeslot.odd {
      color: lighten($black, 40);
      border-top: 1px dotted lighten($black, 20);
      border-bottom: 1px solid $black;
    }
  }

  .event {
    color: $white;
    overflow: hidden;
    text-overflow: clip ellipsis;
    text-align: center;
    background-color: $event;
    border: 1px solid darken($event, 5);
  }
}